// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************************************

   massage.css
   create : 2016/10/01
            c.osawa
   update : 2016/10/02
            c.osawa
  
   MassageBoard TOP頁ページ用css

 *************************************************/

/**************************************************
  .panel-title h3

  font-family:

 **************************************************/
.panel-title h3 {
     font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/**************************************************
  .field_with_errors
    textarea, input

  border: 1px solid #f00;
          エラー項目を赤枠化

 **************************************************/
.field_with_errors{
  textarea, input {
    border: 1px solid #f00;
  }
}

/**************************************************
  .form-group 

  text-align: 文字位置 右
  padding-right: 内側余白 右0

 **************************************************/
.form-group {
  .form-label {
    text-align: right;
    padding-right: 0;
  }
}

/**************************************************
  message_board
  #board

  max-height: 高さ上限 30em
  overflow-y: 高さ上限よりカラムが多ければ縦スクロール

 **************************************************/
#board {
  max-height: 30em;
  overflow-y: scroll;
}

/**************************************************
  .message_wrapper

  display: ブロックボックスを生成
  .massage_body
    word-break: 単語改行なし

 **************************************************/
.message_wrapper {
  display: block;
  
  .massage_body {
    word-break: break-all;
  }
}

/**************************************************
  footer

  margin: 外側余白 上下左右0
  padding: 内側余白 上下左右0
  font-size: 12px
  text-align: 文字位置 中央
  color:  文字色 設定

 **************************************************/
footer {
  margin-top: 40px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  color: #666;
}